.App {
  text-align: center;
}

// Home Page & Search

#searchbar {
  margin-bottom: 20px;
  outline: none;
}

#search-scroll {
 max-width: 320px;
 border: 1px solid;
 margin: auto;
 max-height: 320px;
 overflow: auto;
}
