@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  background-color: rgb(20, 20, 20);
  color: #50c878;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

input[type=submit] {
  -webkit-appearance: none;
}

// Home Page & Search

#nav {
  display: flex;
  align-items: center;
  max-width: 622px;
  padding: 0px 10px;
  margin: auto;
  justify-content: space-between;
}

#logo {
  display: flex;
  max-width: 275px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 53px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 52px;
    margin: 0;
    padding: 17px 0px;
    color: #50c878;
    transition: 100ms;
  }

  h1:hover {
    opacity: 0.80;
  }

  img {
    width: 62px;
    height: 37px; 
    padding-bottom: 5px;
    pointer-events: none;
  }
  
}

#searchbar {
  margin-bottom: 20px;
  outline: none;
  padding: 5px 7px;
  width: 280px;
  font-size: 17px;
}

#search-scroll {
 max-width: 320px;
//  border: 1px solid white;
 margin: auto;
 max-height: 320px;
 overflow: auto;
 border-radius: 3px;
 background-color: whitesmoke;

  p {
    margin: 0;
    border-bottom: 1px solid lightgray;    
    padding: 12px;
    cursor: pointer;
    transition: 130ms;
    color: black;
    letter-spacing: 0.4px;
  }

  p:hover {
    background-color: lightsteelblue;
  }

}

// FORM 

#vault-location {
  color: #50c878;
  transition: 130ms;
}

#vault-location:hover {
  opacity: 0.85;
}

#form-flex {
  display: flex;
  margin: auto;
  max-width: 300px;
  justify-content: space-between;
}

#create-form {
  max-width: 500px;
  margin: auto;
  border: #50c878 1px solid;
  border-radius: 6px;
  padding: 20px;

  textarea {
    margin-top: 20px;
    resize: none;
    width: 99%;
    height: 186px;
    outline: none;
    border: 1px solid gray;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
  }

  #post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2px;
    margin-bottom: 15px;
  }

  img {
    max-width: 300px;
    max-height: 300px;
  }

}

//Post Cards//

#post-card {
  border: 1px solid;
  border-radius: 6px;
  max-width: 610px;
  margin: 25px auto;
  background-color: blanchedalmond;
  color: black;
  padding: 0px 5px;
  section {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid;
   
    p {
      margin: 12px 0px;
    }
  }
}

#post-flex {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

#trash {
  margin-right: 18px;
}

#trash, #edit {
  cursor: pointer;
  transition: 150ms;
  width: fit-content;
}

#trash:hover {
  color: crimson;
}

#edit:hover {
  color: #00A400;
}

#post-txt {
  text-align: left;
}

#post-img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}

#create-caption {

  textarea {
    resize: none;
    width: 99%;
    height: 100px;
    outline: none;
    border: 1px solid gray;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
  }

}

// AUTH //
#load-gif {
  margin-top: 20px;
  border: none;
  object-fit: contain;
  width: 50px;
}

#auth  {
  margin-top: 65px;

  p {
    max-width: 544px;
    margin: auto;
    margin-bottom: 34px;
  }

  button {
    font-size: 17px;
    display: block;
    padding: 14px 16px;
    margin: auto;
    margin-top: 20px;
    width: 366px;
    transition: all 200ms;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  button:hover {
    opacity: .85;
  }
}

#account-form {
  width: fit-content;
  margin: 0 auto;
}

#logsign { 
  input {
    display: block;
    width: 330px;
    font-size: 17px;
    margin-top: 20px;
    padding: 14px 16px;
  }

  #login, #signup {
    margin: auto;
    margin-top: 20px;
    width: 367px;
    border: none;
    border-radius: 6px;
    transition: all 200ms;
    outline: none;
  }
}

#login {
  background-color: #1877F2;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#signup {
  background-color: #00A400;
  color: white;
  cursor: pointer;
}

#form-bottom {
  display: flex;
  justify-content: center;
}

#margin-space {
  margin-left: 5px;
  cursor: pointer;
}

#margin-space:hover, #signup:hover, #login:hover {
  opacity: 0.85;
}

#error-text {
  color: red;
  font-weight: 500;
  margin: auto;
  word-wrap: break-word;
  width: 357px;
}

#title {
  margin: auto;
  font-size: 17px;
  padding: 2px;
  outline: none;
  margin-bottom: 20px;
}

#user-icon {
  color: #50c878;
}

#user-icon:hover {
  opacity: 0.85;
  cursor: pointer;
}

#logout {
  cursor: pointer;
}

#logout:hover {
  opacity: 0.85;
}

#nullMessage {
  padding-top: 35px;
}

#success-message {
  font-size: 20px;
}

#go-to-post {
  color: white;
  width: fit-content;
  margin: auto;
  border: 1px solid red;
  padding: 10px 15px;
  background: red;
  border-radius: 6px;
}

#go-to-post:hover {
  opacity: 0.85;
}

@media screen and (max-width: 1024px){
  #logo {
    h1 {
      font-size: 36px;
    }
    
    img {
      width: 56px;
      height: 31px;
    }

    max-width: 220px;
  }
}

@media screen and (max-width: 622px){
  #post-card {
    border-left: none;
    border-right: none;
    border-radius: 0%;
  }

}